#color-palette {
  display: flex;
  gap: 16px;
}

.color {
  border: solid 1px black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.selected {
  border: solid 1px black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#clear-board {
  padding: 10px;
  background-color: rgb(240, 233, 233);
  color: rgb(5, 0, 0);
  font-size: 1.2em;
  margin: 25px 0 10px 85px;
  border-radius: 5px;
}

#matriz {
  margin: 20px;
}

#pixel-board {
  height: 40px;
}

.pixel {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}
